<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Flair</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

</head>



<body>

    <div class="container">
        <br>
        <h1>Reddit flair</h1>


        <form id="sub-post">
            <div class="row">
                <div class="eight columns">
                    <input type="text" id="reddit-post" placeholder="Enter reddit post link">

                </div>
                <div class="four columns">
                    <button type="submit">Check flair</button>
                </div>
            </div>
        </form>

        <h4 id='show-flair'></h4>
    </div>


</body>
<script src="static/js/main.js"></script>

</html>